[tool.poetry]
name = "cfn-lsp-extra"
version = "0.2.0"
description = "Cfn Lsp Extra"
authors = ["Laurence Warne <laurencewarne@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/laurencewarne/cfn-lsp-extra"
repository = "https://github.com/laurencewarne/cfn-lsp-extra"
classifiers = ["Topic :: Software Development"]

[tool.poetry.urls]
Changelog = "https://github.com/laurencewarne/cfn-lsp-extra/releases"

[tool.poetry.dependencies]
python = "^3.7"
click = ">=8.0.1"
cfn-lint = "^0.59"
pygls = "^0.11"  # pygql = { path = "../pygls/", develop = false }
PyYAML = "^6.0"
types-PyYAML = "^6.0"
aiohttp = {extras = ["speedups"], version = "^3.8"}
platformdirs = "2.5^"
pydantic = "1.8^"
tqdm = "4.64^"

[tool.poetry.dev-dependencies]
Pygments = ">=2.10.0"
black = ">=21.10b0"
coverage = {extras = ["toml"], version = ">=6.2"}
flake8 = ">=4.0.1"
flake8-bandit = ">=2.1.2"
flake8-bugbear = ">=21.9.2"
flake8-docstrings = ">=1.6.0"
flake8-rst-docstrings = ">=0.2.5"
furo = ">=2021.11.12"
isort = ">=5.10.1"
mypy = ">=0.930"
pep8-naming = ">=0.12.1"
pytest = ">=6.2.5"
pytest-asyncio = "^0.18"
pytest-mock = "^3.7"
typeguard = ">=2.13.3"
python-lsp-server = ">=1.4.1"
nox = ">=2022.1"
nox-poetry = ">=0.9"

[tool.poetry.scripts]
cfn-lsp-extra = "cfn_lsp_extra.__main__:main"

[tool.coverage.paths]
source = ["cfn_lsp_extra", "*/site-packages"]
tests = ["tests", "*/tests"]

[tool.coverage.run]
branch = true
source = ["cfn_lsp_extra"]
omit = ["cfn_lsp_extra/cfnlint_integration.py"]

[tool.coverage.report]
show_missing = true
fail_under = 50

[tool.black]
preview = true

[tool.isort]
profile = "black"
force_single_line = true
lines_after_imports = 2

[tool.mypy]
strict = true
warn_unreachable = true
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true

[[tool.mypy.overrides]]
module = "cfnlint.*"
ignore_missing_imports = true

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.flakeheaven]
max-line-length = 88
per-file-ignores = "tests/*"

[tool.flakeheaven.plugins]
# include everything in pyflakes
pyflakes = ["+*"]
# enable everything that starts from `flake8-`
"flake8-*" = ["+*"]
# explicitly disable plugin
#flake8-docstrings = ["-*"]
pycodestyle = ["+*", "-W503", "-E203", "-E731"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"