name: Release

on:
  push:
    tags:        
      - '*' 
  workflow_dispatch:  

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build
        run: uv build
    
      - name: Upload Build
        uses: actions/upload-artifact@v6
        with:
          name: package-build
          if-no-files-found: error
          overwrite: true
          path: |
            dist/*.whl
            dist/*.tar.gz 

  test-pypi-publish:
    name: Publish to test PyPI
    runs-on: ubuntu-latest
    timeout-minutes: 30
    environment:
      name: test-pypi
      url: https://test.pypi.org/p/cfn-lsp-extra
    permissions:
      id-token: write  # Required for trusted publishing
    needs: build

    steps:
      - name: Download Build
        uses: actions/download-artifact@v6
        with:
          name: package-build
          path: ./dist/
          merge-multiple: true

      # https://github.com/pypa/gh-action-pypi-publish
      - name: Publish package on TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

  pypi-publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    timeout-minutes: 30
    environment:
      name: pypi
      url: https://pypi.org/p/cfn-lsp-extra
    permissions:
      id-token: write
    needs: test-pypi-publish

    steps:
      - name: Download Build
        uses: actions/download-artifact@v6
        with:
          name: package-build
          path: ./dist/
          merge-multiple: true

      - name: Publish package on PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
